body {
    padding: 0;
    margin: 0;
    background: #FFFFFF;
}
.navbar {
    background: #156082;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.header {
    background-image: url('images/header.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.page-header {
    height: 10vh; /* 75% of the viewport height */
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}
.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
    margin-top: 0px; /* Adjusted top margin */
}
.description h1 {
    color: #1D405C;
    font-family: 'Helvetica', sans-serif;
    font-size: 2rem; /* Default font size for larger screens */
}
.description p {
    color: black;
    font-size: 1.3rem;
    line-height: 1.5;
    font-family: 'Helvetica', sans-serif;
}
.description button, input[type="submit"] {
    border: 1px solid #1D405C;
    background: #156082;
    border-radius: 0;
    color: #fff;
}
.description button:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}
.features {
    margin: 1em auto;
    padding: 1em;
    position: relative;
}
.feature-title {
    color: #156082;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}
.features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}

.description-title {
    color: #156082;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 2rem; /* Default font size for larger screens */
    margin-top: 10px; /* Adjust the value as needed */
}

.smaller-text {
    color: #1D405C;
    font-family: 'Helvetica', sans-serif;
    font-size: 0.6em; /* Adjust the value as needed */
}

.description-text {
    color: black;
    font-size: 1.3rem;
    line-height: 1.5;
    font-family: 'Helvetica', sans-serif;
    margin-top: 10px; /* Adjust the value as needed */
}

.fixed-size-paragraph {
    max-width: 500px; /* Adjust the max-width as needed */
    font-family: Helvetica, sans-serif; /* Example font family */
    font-size: 1.5rem; /* Example font size */
    text-align: left; /* Aligns text to the left */
    margin-bottom: 80px;
    line-height: 1.5; /* Increased line spacing for better readability */
    padding: 10px; /* Padding around the text */
}

.read-me-section {
    margin-top: 50px; /* Adjust the value as needed */
    margin-bottom: 20px; /* Adjusted bottom margin for smaller screens */
    width: 100%; /* Ensure full width */
}

.input-section {
    margin-top: 80px; /* Adjust top margin to position correctly below Read Me */
    width: 100%; /* Ensure full width */
}

.form-group .form-control {
    background-color: #d1d1d1; /* Light blue background */
    color: black;
    border-color: #ced4da; /* Blue border */
}

.btn-outline-secondary {
    border-color: #156082; /* Same as submit button */
    background-color: #156082; /* Same as submit button */
    color: #fff; /* White text */
}

.btn-outline-secondary:hover {
    border-color: #fff; /* White border on hover */
    background-color: #fff; /* White background on hover */
    color: #156082; /* Blue text on hover */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .description-title {
        font-size: 1.2rem; /* Smaller font size for smaller screens */
    }

    .description-text {
        font-size: 1rem; /* Smaller font size for smaller screens */
    }

    .fixed-size-paragraph {
        font-size: 1rem; /* Adjusted font size for smaller screens */
        max-width: 100%; /* Adjusted max-width for smaller screens */
        margin-bottom: 30px; /* Adjusted bottom margin for smaller screens */
        padding: 10px; /* Adjusted padding for smaller screens */
    }

    .read-me-section {
        margin-top: 30px; /* Adjusted top margin for smaller screens */
        margin-bottom: 20px; /* Adjusted bottom margin for smaller screens */
    }

    .input-section {
        margin-top: 20px; /* Adjusted top margin for smaller screens */
    }

    .features, .container {
        margin: 1em auto; /* Reduced margin for smaller screens */
        padding: 0; /* Reduced padding for smaller screens */
    }

    .description {
        margin-top: 50px; /* Reduced top margin for smaller screens */
    }
}

@media (min-width: 768px) { /* Adjusts the layout for medium to large screens */
    .col-lg-4.col-md-4.col-sm-12 {
        margin-right: 50px; /* Adjust the value as needed */
    }
}